@import "../../styles/variables.scss";

.Sucess-bar-mobil {
  width: 100vw;
  height: 77px;
  border-radius: 10px 10px 0 0;
  background-color: #4ca484;
  position: absolute;
  z-index: 2;
  bottom: 0;
  @include small{
    display: none;
  }
  
  > p {
    text-align: center;
    max-width: 300px;
    color: $color-Dobby;
    font-size: 16px;
    font-weight: 100;
    padding: 1rem;
    margin: auto;
  }
}
