@import "../../styles/variables.scss";

.form-usuario1 {
  position: relative;
  z-index: 1;
  height: 100vh;
  @include small {
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 11%;
  }
  > .logo {
    margin-top: 80px;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include small {
      display: none;
    }

    > .logo-container {
      display: flex;
      flex-direction: column;

      > .imagen1 {
        background-image: url("../assets/Logobe.png");
        width: 250px;
        height: 95px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
      }
    }
  }
  > a .imagen2 {
    background-image: url("../assets/back.png");
    height: 25px;
    width: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    bottom: 120px;
    left: 30px;

    @include small {
      display: none;
    }
  }
  > form {
    padding: 0 26.5px;
    font-size: 14px;
    margin-top: 30px;
    color: $color-Hermione;
    @include small {
      padding: 0;
      margin-top: 30%;
    }

    > .titulo-form {
      margin-top: -25px;
      @include small {
       margin: 0;
      }

      > .titulo {
        display: none;

        @include small {
          display: flex;
          flex-direction: column;
        }
      }

      > h2 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin: 0;

        @include small {
          font-size: 24px;
          font-weight: bold;
        }
      }
      > .titulo-mobile {
        font-size: 16px;
        margin: 0;
        padding-bottom: 33px;
        @include small {
          display: none;
        }
      }
    }
    > .campo-form1 {
      display: flex;
      flex-direction: column;
      color: $color-Harry;
      @include small {
        padding-top: 5px;
      }
      > input {
        color: $color-Severus;
        padding: 1rem;
        margin: 14px 0;
        background-color: $color-Dobby;
        border: 1px solid $color-Voldemort;
        border-radius: 5px;
      }
    }
    > .campo-form2 {
      display: flex;
      flex-direction: column;

      >a  {
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
      }
      > .btn-1 {
        margin-bottom: 15px;
        color: $color-Dobby;
        border: 1px solid $color-Hermione;
        background-color: $color-Hermione;
        @include small {
          background-color: $color-Harry;
          border: 1px solid $color-Harry;
        }
      }
      > .btn-2 {
        color: $color-Harry;
        border: 0.7px solid $color-Harry;
        background-color: $color-Dobby;
        @include small {
          display: none;
        }
      }
    }
    > .icono {
      position: relative;
      bottom: 50px;
      left: 285px;

      @include small {
        left: 90%;
      }
    }
    > .enlace-cuenta {
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
      position: relative;
      bottom: 25px;
      color: $color-Harry;
      font-weight: 500;
      @include small {
        margin-top: -5px;
      }
    }
    > .enlace-cuenta2 {
      display: none;
      @include small {
        text-decoration: initial;
        display: flex;
        justify-content: center;
        color: $color-Hermione;
        padding-top: 30px;
      }
    }
    > .card_social {
      display: none;
      @include small {
        display: flex;
        justify-content: center;
      }
      >div{ 
          margin: 15px;
      }
      > .Apple {
        background-image: url("../assets/Apple.png");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      > .Facebook {
        background-image: url("../assets/Facebook.png");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; 
      }
      > .Google {
        background-image: url("../assets/Google.png");
        height: 50px;
        width: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    > .enlace-cuenta3 {
      display: flex;
      text-align: center;
      justify-content: center;
      font-size: 14px;
      color: $color-Harry;
      padding-top: 118px;

      @include small{
        padding-top: 97px;

      }
  
      > a {
        text-decoration: none;
        color: $color-Hermione;
      }
    }
  }
}
