
//Colores Primarios
$color-Harry: #215E99;
$color-Hermione: #EC552F;
$color-Luna: #FBEFEC;
$color-Hagrid: #000;

//Colores Secundarios
$color-Dobby: #fff;
$color-Ron: #FFF7ED;
$color-Severus: #7F8E9D;
$color-Voldemort: #C7CAD9;


//mixin

$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extraLarge-width: 1200px;

@mixin small {
  @media screen and (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$large-width}) {
    @content;
  }
}

@mixin extraLarge {
  @media screen and (min-width: #{$extraLarge-width}) {
    @content;
  }
}