@import "../../styles/variables.scss";

.Sucess-bar {
  display: none;
  @include  small{
    width: 100vw;
    background-color: #4ca484;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: Fixed;
    
  }
  
  > p {
    @include  small{

      color: $color-Dobby;
      font-size: 16px;
    }
  }
}
